html,body{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #C7C5C5;
}
.box{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    padding-inline: 40px;
    padding-top: 150px;
    padding-bottom: 50px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.37);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    height: 45px;
    padding-inline: 10px;
    border: none;
    margin-bottom: 20px;
}
h2{
    font-size: 17pt;
    margin-top: 50px;
}

h4{
    align-self: center;
    color: #FF0000;
    font-weight: bold;
}
span{
    color: #007BFF;
}
label{
    margin-block: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

.btn{
    text-decoration: none;
    background-color: #016B8C;
    color: white;
    width: 80px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(27, 130, 161);
}